<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
    <title>The MVC Blog</title>
</head>
<body class="uk-background-muted">
    
    <header class="uk-background-primary"> 
        <h1 class="uk-heading-large uk-text-center uk-padding-large text-white">The MVC Blog</h1>
        <nav class="uk-navbar-container " uk-navbar>
            <div class="uk-navbar-left uk-padding">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#"><span class="uk-text-large">Home</span></a></li>
                    <li class="uk-active"><a href="#"><span class="uk-text-large">Dashboard</span></a>
                </ul>
            </div>
            <div class="uk-navbar-right uk-padding">
                <ul class="uk-navbar-nav">
                    {{#if logged_in}}
                    <li class="uk-active"><a href="#"><span class="uk-text-large">Logout</span></a></li>
                    {{else}}
                    <li class="uk-active"><a href="#"><span class="uk-text-large">Login</span></a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer class="uk-background-primary uk-padding-small uk-margin-large-top uk-margin-remove-bottom uk-position-bottom">
        <p class="uk-text-center text-white">© Sam Preston</p>

    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{else}}
    <script src="/js/login.js"></script>
    {{/if}}

</body>
</html>