<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>MVC Blog</title>
</head>

<body>
    <header>
        <!-- Title -->
        <section class="hero is-info">
            <div class="hero-body">
                <p class="title">MVC Blog</p>
                <p class="subtitle">Blog away...</p>
            </div>
        </section>

        <!-- NAV BAR -->
        <nav class="navbar is-info" role="navigation" aria-label="main navigation">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">Home</a>
                    <a class="navbar-item" href="/dashboard">Dashboard</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {{#if logged_in}}
                            <a class="button is-dark" href="#" id="logout">Log out</a>
                            {{else}}
                            <a class="button is-dark" href="/login">Login</a>
                            <a class="button is-light" href="/signup">Sign Up</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <main>
        {{{ body }}}
    </main>

    <footer class="footer mt-6">
        <div class="content has-text-centered">
            <p>
                <strong>MVC Blog</strong> brought to you by <a href="https://github.com/spreston4">Sam Preston</a>.
            </p>
        </div>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
</body>

</html>