<!-- Display User Dashboard -->

<div class="columns is-centered mt-5">
            <article class="panel is-info column is-three-fifths">
                <p class="panel-heading">
                    My Posts
                </p>
                {{#each posts as |post|}}
                <a class="panel-block is-active" data-post_id="{{post.id}}" href="/api/posts/editpost/{{post.id}}">
                    {{post.title}} | {{format_date post.createdAt}}
                </a>
                {{/each}}
                <div class="control mt-3 mb-0 is-centered columns is-centered">
                    <a class="button is-info" href="/newpost">Create New Post</a>
                </div>
            </article>
        </div>