<div class="uk-container-large uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-width-1-1">
    <div class="uk-width-1-2">
        <div class="uk-width-1-1">
            <h2 class="uk-heading-medium uk-text-center">Your Posts</h2>
        </div>
        <div class="uk-margin-large">
            {{#each posts as |post|}}
            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin">{{post.title}} | CREATED ON:
                {{format_date post.createdAt}}</button>
            {{/each}}

        </div>
    </div>

    <div class="uk-width-1-2">
        <div "uk-width-1-1">
            <h2 class="uk-heading-medium uk-text-center">Create a new post</h2>
        </div>
        <div class="uk-margin-large">
            <a href="/newpost"><button class="uk-button uk-button-primary uk-width-1-1 uk-margin">New Post</button></a>
        </div>
    </div>

</div>