<!-- Display All Post Previews -->

{{#each posts as |post| }}

<a href="/api/posts/{{post.id}}">
    <div class="uk-card uk-card-default uk-width-auto uk-margin-large-top uk-margin-large-left uk-margin-large-right">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{post.title}}</h3>
                    <p class="uk-text-meta uk-margin-remove-top">Posted by {{post.user.username}} on {{format_date
                        post.createdAt}}</p>
                </div>
            </div>
        </div>
    </div>
</a>

{{/each}}