<div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle">
    <h2> Signup </h2>
    <form
        class="uk-form-horizontal uk-margin-large uk-flex uk-flex-column uk-flex-center uk-flex-middle form signup-form">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Username</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Enter a username" id="username-signup">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">E-mail</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Enter your email" id="email-signup">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Password</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="password" placeholder="Enter your password" id="password-signup">
            </div>
        </div>
        <div class="uk-margin">
            <button class="uk-button uk-button-primary" type="submit">Signup</button>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>